@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}


/* fonts  */

.patua-one-regular {
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
}
.oswald-regular {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* colors  */

.primary-color {
  color: #a10140;
}

.secondary-color {
  color: #ffc5c4;
}

.teritiary-color {
  color: #0a314f;
}

.custom-violet{
  color: #d1b7ff;
}



.primary-bg {
  @apply bg-[#a10140];
}
.secondary-bg {
  @apply bg-[#ffc5c4];
}
.tertiary-bg {
  @apply bg-[#0a314f];
}
.custom-violet-bg {
  @apply bg-[#d1b7ff];
}

.spacer{
  @apply md:px-16 px-8 py-16
}